.container
  .titel
    = @playlist.title
  .text
    = @playlist.release_month.to_s + '/' + @playlist.release_year.to_s
    %br
    = @playlist.description
  .image
    = image_tag @playlist.artwork_url, :size => "500x375"  
  .tracks
    %table
      %tr
        %td &nbsp;
      - @playlist.tracks.each do |t|
        %tr
          %td.trackname
            = t.title
          %td.size
            = formatted_duration t.duration
          %td.download
            = link_to image_tag("download.gif",:alt => 'download', :size => "13x13",:mouseover => "/images/download-hover.gif"), t.download_url if t.downloadable
          %td.play
            = link_to image_tag("loudspeaker.gif",:alt => 'play', :size => "13x13",:mouseover => "/images/loudspeaker-hover.gif"), t.stream_url

      %tr
        %td &nbsp;
        %td &nbsp;
        %td &nbsp;
      %tr
        %td.trackname play all
        %td.size
          = formatted_duration @playlist.duration
        %td &nbsp;
        %td.play
          = link_to(image_tag("loudspeaker.gif",:alt => 'play', :size => "13x13",:mouseover => "/images/loudspeaker-hover.gif"), :action => :play, :id => @playlist.id )
      %tr
        %td.trackname
          =# link_to "download all (zip)", url_for_file_column(@playlist, "zip")
        %td.size
          =# sprintf("%.2f", File.size?(@playlist.zip).to_f/1024/1024)+"&nbsp;MB" if File.exists?(@playlist.zip)
        %td.download
          =# link_to image_tag("download.gif",:alt => 'download', :size => "13x13",:mouseover => "/images/download-hover.gif"), url_for_file_column(@playlist, "zip")

  .license
    = link_to(image_tag("http://i.creativecommons.org/l/by-sa/3.0/88x31.png",{:alt => "Creative Commons License"}),  "http://creativecommons.org/licenses/by-sa/3.0/")
    This work is licensed under a 
    = link_to "Creative Commons Attribution-Share Alike 3.0 Unported License", "http://creativecommons.org/licenses/by-sa/3.0/"

