.container
  .titel Welcome to alfadeo!
  .text
    Edited live recordings from alfadeo (Freiburg/Germany).
  .releases
    %table
      %tr
        %th Releases
      %tr
        %td &nbsp;
      - @playlists.each do |playlist|
        %tr
          %td
            = link_to image_tag(playlist.artwork_url, :size => "50x38"), :action => 'show', :id => playlist.id 
          %td.left
            = playlist.description if playlist.description
            = " (" + playlist.release_month.to_s + "/" + playlist.release_year.to_s + ")" 
          %th.left
            = link_to playlist.title, :action => 'show', :id => playlist.id

  .license
    = link_to(image_tag("http://i.creativecommons.org/l/by-sa/3.0/88x31.png",{:alt => "Creative Commons License"}),  "http://creativecommons.org/licenses/by-sa/3.0/")
    This work is licensed under a 
    = link_to "Creative Commons Attribution-Share Alike 3.0 Unported License", "http://creativecommons.org/licenses/by-sa/3.0/"
