!!! XML
!!!
%html{html_attrs}
  %head
    = javascript_include_tag :defaults 
    = stylesheet_link_tag 'public' if controller.controller_name == 'public' or controller.action_name == 'preview'
    = auto_discovery_link_tag(:rss, :action => 'rss') 
    =#auto_discovery_link_tag(:atom, :action => 'atom') 

    %title
      alfadeo

  %body

    .main
      - if controller.controller_name == 'public' or controller.action_name == 'preview'
        .nav
          .menu
            = link_to 'Home', :action => 'index'
          .logo alfadeo
      - else
        %h1 alfadeo administration
 
      = @content_for_layout 
